.logo {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-right: 93px;

  &--black {
    /* in Header */
    color: var(--primary-black-color);
  }

  &--white {
    /* in Footer */
    color: var(--primary-white-color);
  }

  &--footer {
    display: block;
    margin-bottom: 20px;
  }
}
