.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-color);

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__contacts {
    max-width: 210px;
  }
}

/* Address */

.address {
  &__item:not(:last-child) {
    margin-bottom: 9px;
  }

  &__link {
    color: rgb(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    transition: color var(--transition);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }

    &--map {
      color: var(--primary-white-color);
      font-style: normal;
      font-size: 14px;
      line-height: 1.71;
      text-decoration: none;
    }
  }
}

/* Subscribe */

.subscribe {
  padding-top: 12px;

  &__title {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    color: var(--primary-white-color);
  }

  &__field {
    display: flex;
    align-items: center;
  }

  &__input {
    margin-right: 12px;
    padding: 15px 16px;
    width: 358px;
    height: 50px;
    color: var(--primary-white-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    transition: border var(--transition);
    outline: none;

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: calc(20 / 16);
      display: flex;
      align-items: center;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
    }

    &:focus {
      border: 1px solid var(--accent-color);
    }
  }

  &__button {
    display: flex;
    align-items: center;
    padding: 10px 28px;
    height: 50px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    transition: background-color var(--transition);
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: var(--button-bg-active);
    }
  }

  &__icon {
    margin-left: 10px;
    fill: var(--primary-white-color);
  }
}
